

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(241, 248, 114);
    margin: 8px;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid violet;
    background-color: rgb(153, 249, 180);
    color: lightcoral;
    font-size: 16pt;
    font-weight: 600rem;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}

.negative {
    color: red;
}